build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcscmblueprint
Packages/
Package.pins
Package.resolved
.swiftpm/
Pods/
Podfile.lock
Carthage/Build/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
*.xcarchive
*.simruntime
*.simdevice
*.DS_Store
*.swp
*.swo
*.orig
*.xcuserstate